<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>winx</title>

    <style>
        body {
            background: #FFC0CB url(https://i.pinimg.com/originals/65/3a/db/653adb2b9863d4303504a435fcec1a88.jpg); /* Фоновый цвет и фоновый рисунок*/
            color: #000000; /*Цвет текста на странице*/
            background-attachment: fixed; /* Фон страницы фиксируется */
            background-repeat: repeat;
        }
    </style>
</head>
<body>

<div style="text-align: center;">
    <h2>Winx</h2>

    <h3><a href="/winx/new">New Fairy</a></h3>
    <table align="center" border="1" cellpadding="5">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Powers</th>
            <th>Action</th>
        </tr>
    <div th:each="fairy : ${allWinx}">
        <tr>
            <td><a th:href="@{/winx/{name}(name=${fairy.getName()})}"
                   th:text="${fairy.getName()}">user</a></a></td>

            <td><p th:text="${fairy.getAge()}"></p></td>
            <td><p th:text="${fairy.getPowers()}"></p></td>
            <td>
                <a th:href="@{/winx/{name}/edit(name=${fairy.getName()})}">Edit</a>
            </td>
        </tr>
    </div>
    </table>
</div>

<br/>
<div style="text-align: center;">
<img src="https://4.bp.blogspot.com/-lEGuAatqzmg/VVsgWpSisQI/AAAAAAAAAFw/tSQEaAg3dlQ/s320/The%2BWinx%2B%25287%2529.JPG">
</div>
</body>
</html>