<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create fairy</title>
</head>
<body>
<form th:method="POST" th:action="@{/winx}" th:object="${fairy}">
  <label for="name">Your name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
  <br/>
  <label for="age">Your age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age Error</div>
  <br/>
  <label for="email">Your powers: </label>
  <input type="text" th:field="*{powers}" id="email"/>
  <div style="color:red" th:if="${#fields.hasErrors('powers')}" th:errors="*{powers}">powers Error</div>
  <br/>
  <input type="submit" value="Create!"/>
</form>
</body>
</html>